WebContent/wsdl/CountryFinder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="findCountry">
    <complexType>
     <sequence>
      <element name="ip" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findCountryResponse">
    <complexType>
     <sequence>
      <element name="findCountryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="findCountryRequest">

      <wsdl:part element="impl:findCountry" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findCountryResponse">

      <wsdl:part element="impl:findCountryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CountryFinder">

      <wsdl:operation name="findCountry">

         <wsdl:input message="impl:findCountryRequest" name="findCountryRequest">

       </wsdl:input>

         <wsdl:output message="impl:findCountryResponse" name="findCountryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CountryFinderSoapBinding" type="impl:CountryFinder">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findCountry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findCountryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findCountryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CountryFinderService">

      <wsdl:port binding="impl:CountryFinderSoapBinding" name="CountryFinder">

         <wsdlsoap:address location="http://localhost:8888/Java_to_WSDL_Dynamic_invocation_interface/services/CountryFinder"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
